<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="row">
				<h1>Form Directives</h1>
				<h3>Phone Numbers</h3>
				<p>Phone Numbers can be set up two ways, either in one input field, or in multiple fields with auto formatting</p>
				<div class="col-md-6">
					<phone-number></phone-number>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<code class="prettyprint">
		<span phone-number></span>
					</code>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>