<div class="container" data-target=".sidebar">
	<div class="row">
		<div class="col-md-2 sidebar">
			<ul>
				<li>Getting Started</li>
				<li>Installation</li>
				<li>Dependencies</li>
			</ul>
		</div>
		<div class="col-md-10">
			<h1>Documentation</h1>
			<h2>Getting Started</h2>
			<h2>Installation</h2>
			<h2>Dependencies</h2>
			<h3>Angular Js</h3>
			<p></p>
			<h3>Grunt Js</h3>
			<p></p>
			<h3>Bootstrap</h3>
			<p></p>
			<h3>Modernizr</h3>
			<p></p>
			<h3>jQuery</h3>
			<p></p>
			<h2>File Structure</h2>
			<p></p>
			<h3>src</h3>
			<p></p>
			<h3>dist</h3>
			<p></p>
			<h2>Grunt</h2>
			<p></p>
			<h3>Package.json</h3>
			<p></p>
			<h3>gruntfile.js</h3>
			<p></p>
		</div>
	</div>
</div>